body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:596px;
  width:126px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2148 {
  position:absolute;
  left:125px;
  top:596px;
  width:126px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:49px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:249px;
  top:596px;
  width:126px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2152 {
  position:absolute;
  left:0px;
  top:19px;
  width:375px;
  height:38px;
  font-size:18px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:20px;
  top:77px;
  width:118px;
  height:29px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:180px;
  top:77px;
  width:112px;
  height:29px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u2158 {
  position:absolute;
  left:144px;
  top:91px;
  width:26px;
  height:1px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:7px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  height:7px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:-4px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162 {
  position:absolute;
  left:428px;
  top:233px;
  width:325px;
  height:299px;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2165 {
  position:absolute;
  left:174px;
  top:0px;
  width:146px;
  height:30px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:30px;
  width:174px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u2168 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2169 {
  position:absolute;
  left:174px;
  top:30px;
  width:146px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:60px;
  width:174px;
  height:30px;
  text-align:left;
}
#u2172 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2173 {
  position:absolute;
  left:174px;
  top:60px;
  width:146px;
  height:30px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:90px;
  width:174px;
  height:28px;
  text-align:left;
}
#u2176 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u2177 {
  position:absolute;
  left:174px;
  top:90px;
  width:146px;
  height:28px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:118px;
  width:174px;
  height:28px;
  text-align:left;
}
#u2180 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u2181 {
  position:absolute;
  left:174px;
  top:118px;
  width:146px;
  height:28px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:146px;
  width:174px;
  height:28px;
  text-align:left;
}
#u2184 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u2185 {
  position:absolute;
  left:174px;
  top:146px;
  width:146px;
  height:28px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:174px;
  width:174px;
  height:28px;
  text-align:left;
}
#u2188 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u2189 {
  position:absolute;
  left:174px;
  top:174px;
  width:146px;
  height:28px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2191 {
  position:absolute;
  left:0px;
  top:202px;
  width:174px;
  height:28px;
  text-align:left;
}
#u2192 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u2193 {
  position:absolute;
  left:174px;
  top:202px;
  width:146px;
  height:28px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2195 {
  position:absolute;
  left:0px;
  top:230px;
  width:174px;
  height:28px;
  text-align:left;
}
#u2196 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u2197 {
  position:absolute;
  left:174px;
  top:230px;
  width:146px;
  height:28px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u2199 {
  position:absolute;
  left:0px;
  top:258px;
  width:174px;
  height:36px;
  text-align:left;
}
#u2200 {
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u2201 {
  position:absolute;
  left:174px;
  top:258px;
  width:146px;
  height:36px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2203 {
  position:absolute;
  left:836px;
  top:127px;
  width:380px;
  height:125px;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2206 {
  position:absolute;
  left:74px;
  top:0px;
  width:73px;
  height:30px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:147px;
  top:0px;
  width:77px;
  height:30px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2210 {
  position:absolute;
  left:224px;
  top:0px;
  width:73px;
  height:30px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u2212 {
  position:absolute;
  left:297px;
  top:0px;
  width:78px;
  height:30px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:30px;
  width:74px;
  height:30px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:74px;
  top:30px;
  width:73px;
  height:30px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2218 {
  position:absolute;
  left:147px;
  top:30px;
  width:77px;
  height:30px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2220 {
  position:absolute;
  left:224px;
  top:30px;
  width:73px;
  height:30px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u2222 {
  position:absolute;
  left:297px;
  top:30px;
  width:78px;
  height:30px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2224 {
  position:absolute;
  left:0px;
  top:60px;
  width:74px;
  height:30px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2226 {
  position:absolute;
  left:74px;
  top:60px;
  width:73px;
  height:30px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2228 {
  position:absolute;
  left:147px;
  top:60px;
  width:77px;
  height:30px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2230 {
  position:absolute;
  left:224px;
  top:60px;
  width:73px;
  height:30px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u2232 {
  position:absolute;
  left:297px;
  top:60px;
  width:78px;
  height:30px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:90px;
  width:74px;
  height:30px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2236 {
  position:absolute;
  left:74px;
  top:90px;
  width:73px;
  height:30px;
}
#u2237 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2238 {
  position:absolute;
  left:147px;
  top:90px;
  width:77px;
  height:30px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2240 {
  position:absolute;
  left:224px;
  top:90px;
  width:73px;
  height:30px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u2242 {
  position:absolute;
  left:297px;
  top:90px;
  width:78px;
  height:30px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2244 {
  position:absolute;
  left:0px;
  top:126px;
  width:379px;
  height:265px;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:68px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:68px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u2247 {
  position:absolute;
  left:94px;
  top:0px;
  width:77px;
  height:68px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:26px;
  width:73px;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:68px;
}
#u2249 {
  position:absolute;
  left:171px;
  top:0px;
  width:76px;
  height:68px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:18px;
  width:72px;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u2251 {
  position:absolute;
  left:247px;
  top:0px;
  width:68px;
  height:68px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:68px;
}
#u2253 {
  position:absolute;
  left:315px;
  top:0px;
  width:59px;
  height:68px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:68px;
  width:94px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:42px;
}
#u2257 {
  position:absolute;
  left:94px;
  top:68px;
  width:77px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#0099CC;
}
#u2258 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:42px;
}
#u2259 {
  position:absolute;
  left:171px;
  top:68px;
  width:76px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#0099CC;
}
#u2260 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:42px;
}
#u2261 {
  position:absolute;
  left:247px;
  top:68px;
  width:68px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:42px;
}
#u2263 {
  position:absolute;
  left:315px;
  top:68px;
  width:59px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#0099CC;
}
#u2264 {
  position:absolute;
  left:2px;
  top:12px;
  width:55px;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:110px;
  width:94px;
  height:30px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2267 {
  position:absolute;
  left:94px;
  top:110px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2268 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2269 {
  position:absolute;
  left:171px;
  top:110px;
  width:76px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2270 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u2271 {
  position:absolute;
  left:247px;
  top:110px;
  width:68px;
  height:30px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2273 {
  position:absolute;
  left:315px;
  top:110px;
  width:59px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2274 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2275 {
  position:absolute;
  left:0px;
  top:140px;
  width:94px;
  height:30px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2277 {
  position:absolute;
  left:94px;
  top:140px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2278 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2279 {
  position:absolute;
  left:171px;
  top:140px;
  width:76px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2280 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u2281 {
  position:absolute;
  left:247px;
  top:140px;
  width:68px;
  height:30px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2283 {
  position:absolute;
  left:315px;
  top:140px;
  width:59px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2284 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:170px;
  width:94px;
  height:30px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2287 {
  position:absolute;
  left:94px;
  top:170px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2288 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2289 {
  position:absolute;
  left:171px;
  top:170px;
  width:76px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2290 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u2291 {
  position:absolute;
  left:247px;
  top:170px;
  width:68px;
  height:30px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2293 {
  position:absolute;
  left:315px;
  top:170px;
  width:59px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2294 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2295 {
  position:absolute;
  left:0px;
  top:200px;
  width:94px;
  height:30px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2297 {
  position:absolute;
  left:94px;
  top:200px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2298 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2299 {
  position:absolute;
  left:171px;
  top:200px;
  width:76px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2300 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u2301 {
  position:absolute;
  left:247px;
  top:200px;
  width:68px;
  height:30px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2303 {
  position:absolute;
  left:315px;
  top:200px;
  width:59px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2304 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2305 {
  position:absolute;
  left:0px;
  top:230px;
  width:94px;
  height:30px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u2307 {
  position:absolute;
  left:94px;
  top:230px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2308 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2309 {
  position:absolute;
  left:171px;
  top:230px;
  width:76px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2310 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u2311 {
  position:absolute;
  left:247px;
  top:230px;
  width:68px;
  height:30px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u2313 {
  position:absolute;
  left:315px;
  top:230px;
  width:59px;
  height:30px;
  text-decoration:underline;
  color:#0099CC;
}
#u2314 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:149px;
}
#u2316 {
  position:absolute;
  left:20px;
  top:106px;
  width:118px;
  height:149px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:66px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318 {
  position:absolute;
  left:20px;
  top:244px;
  width:114px;
  height:11px;
  overflow:hidden;
}
#u2318_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:11px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2318_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:149px;
}
#u2320 {
  position:absolute;
  left:177px;
  top:106px;
  width:118px;
  height:149px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:66px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322 {
  position:absolute;
  left:179px;
  top:244px;
  width:114px;
  height:11px;
  overflow:hidden;
}
#u2322_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:11px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2322_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:313px;
  top:77px;
  width:45px;
  height:25px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
